<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <nav class="navbar navbar-default" >
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="#">Home</a></li>
          <li><a routerLink="/fuel-sale">Fuel Sale</a></li>
          <li><a routerLink="/department-sale">Department Sale</a></li>
        </ul>
      </div>
    </nav>


    <!--<div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="./assets/images/VedManSha.png" alt="logo" style="width:200px; height: 100px;">
      </a>
    </div> -->

    <div  role="banner" style="text-align: center;">
      <p style="align-content: center;">Our fuel station have a facility that sells fuel and lubricants for motor vehicles.</p> 
      <p style="align-content: center;">we typically offer gasoline (petrol), diesel, and sometimes alternative fuels such as ethanol, biodiesel, or compressed natural gas.</p>
      <p style="align-content: center;">We also often sell snacks, beverages, and convenience items for customers on the go. </p>
      <p style="align-content: center;">Apart from the fuel sales we also provide vehicle maintenance services such as oil changes, tire rotations, and car washes.</p>
      <p style="align-content: center;">Our fuel stations can be found close to I-40 highways and Railegh Junction.</p>
    </div>

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="./assets/images/GasStation.png" alt="logo" style="width: 700px; height: 380px;">
      </a>
      <a class="navbar-brand" href="#">
        <img src="./assets/images/GasStationShop.png" alt="logo" style="width: 700px; height: 380px;">
      </a>
    </div> 

    <div><p>&nbsp; &nbsp; &nbsp; &nbsp; </p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p></div>
    <div><p>&nbsp; &nbsp; &nbsp; &nbsp; </p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p></div>
    <div><p>&nbsp; &nbsp; &nbsp; &nbsp; </p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p></div>
    <div><p>&nbsp; &nbsp; &nbsp; &nbsp; </p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p></div>
    <div><p>&nbsp; &nbsp; &nbsp; &nbsp; </p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p></div>
    <div><p>&nbsp; &nbsp; &nbsp; &nbsp; </p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p></div>
    <div><p>&nbsp; &nbsp; &nbsp; &nbsp; </p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p></div>

    <div class="navbar navbar-default" style="text-align: center; position: relative; padding: 15px;">
      <strong>Contact Us</strong> 
    </div>
  </body>
</html>

